/* Login page */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #cce7ff; /* light blue */
}

.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
}

.login-card input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-card button {
  width: 95%;
  padding: 10px;
  background: #28a745; /* green button */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.login-card button:hover {
  background: #1e7e34;
}
